@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Yantramanav:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Merriweather, sans-serif;
    font-weight: 300;
    color:brown
}

h1,h2 {
    font-family: Yantramanav;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:#008000;
}
#logo{
    float: center;
    font-size: 280%;
}
h1{
    font-size:2rem;
    margin: 0;
}
header{
    color:blue;
}
header > p{
    color: white;
}