@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Yantramanav:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Merriweather, sans-serif;
    font-weight: 300;
    color:brown
}

h1,h2 {
    font-family: Yantramanav;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:#022702;
    text-align: center;
}
#logo {
    float: center;
    font-size: 280%;
}
h1 {
    font-size:3rem;
    margin: 0;
}
div > p {
    color: rgb(22, 1, 1);
    text-align: center;
}
#menu ul {
    text-align: center;
    background-color: beige;
}
#menu li {
    text-align: center;
    list-style-type: none;
    margin-bottom: 30px;
    line-height: 10px;
    font-size: 110%;
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}
#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}
#menu a {
    text-decoration: none;
    color: darkgreen;
}
#community-garden-image {
  height: 600px;
  width: 100%;
  background: url('../images/community-garden-image.jpg') no-repeat center center;
}