@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Yantramanav:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Merriweather, sans-serif;
    font-weight: 300;
    color:brown
}

h1,h2 {
    font-family: Yantramanav;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:#008000;
    text-align: center;
}
#logo {
    float: center;
    font-size: 280%;
}
h1 {
    font-size:2rem;
    margin: 0;
}
header {
    color:blue;
}
div > p {
    color: brown;
    text-align: center;
}
#menu {
    text-align: center;
    list-style-type: none;
    margin-bottom: 30px;
    line-height: 30px;
    font-size: 110%;
    display: inline;
}
#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}
#menu a {
    text-decoration: none;
    color: darkgreen;
}